footer {
    background-color: #272a34;
    height: 90px;
    box-shadow: 0 0px 3px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-around;
}
.footerLinks {
    height: 40px;
    font-size: 30px;
    display: flex;
    width: 300px;
    margin: 0 auto;
    justify-content: space-between;
}
footer p {
    margin: 0;
    color: #fff;
}
footer strong {
    color: #d9d872;
}